.form-output {
  border-radius: 3px;
  font-family: "Roboto Mono", "Helvetica Neue";
  background-color: var(--form-bg);
  color: var(--font);
  padding: 1.5rem 1.5rem 0.7rem 1.5rem;
}
.form-output p {
  text-align: left;
  line-height: 1.3;
}
.form-output strong {
  color: #415a74c7;
}
.form-output__title {
  font-size: 1.8rem;
}
.form-output__period {
  padding: 1rem 0;
  text-align: left;
}
