@import "https://fonts.googleapis.com/css?family=Roboto+Mono:300,700";

:root {
  --text-shadow: 1px 1px rgba(0, 0, 0, 0.02), 2px 2px rgba(0, 0, 0, 0.02),
    3px 3px rgba(0, 0, 0, 0.02), 4px 4px rgba(0, 0, 0, 0.02),
    5px 5px rgba(0, 0, 0, 0.02), 6px 6px rgba(0, 0, 0, 0.02),
    7px 7px rgba(0, 0, 0, 0.02);

  --button-bg: #6495ed;
  --background: rgba(247, 202, 201, 1) 0%, rgba(146, 168, 209, 1) 100%;
}
* {
  box-sizing: border-box;
}
* ::selection {
  color: #c47179;
  background-color: #a4e5f4c0;
}
body {
  background: rgb(247, 202, 201);
  background: -moz-linear-gradient(-45deg, var(--background));
  background: -webkit-linear-gradient(-45deg, var(--background));
  background: linear-gradient(135deg, var(--background));
  height: 100vh;
  font-family: "Roboto Mono", "Helvetica Neue";
  letter-spacing: 1px;
  color: #fff;
  text-shadow: var(--text-shadow);
}
.wrapper {
  align-items: center;
}
.container {
  width: 55vw;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  overflow: hidden;
}
.main-title {
  flex-wrap: wrap;
  color: #f9f9f9;
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  letter-spacing: 0px;
  margin-bottom: 0;
  /* text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05); */
}
.undertitle {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}
.main-title span {
  color: #f0e5e7;
}
p {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2em;
  line-height: 1.2;
}

.center {
  display: flex;
  justify-content: center;
}

.form-link {
  display: inline-flex;
  justify-content: center;
  align-self: center;
  color: inherit;
  text-decoration: none;
  background-color: var(--button-bg);
  margin-top: 2%;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 1.1rem;
  position: relative;
  transition: 0.5s;
}

a:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 1.1rem;
  right: -20px;
  transition: 0.5s;
}

a:hover {
  padding-right: 24px;
  padding-left: 8px;
}

a:hover:after {
  opacity: 1;
  right: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  .main-title {
    font-size: 2.6em;
    line-height: 1.1;
  }
}
@media (max-width: 630px) {
  .container {
    width: 90vw;
  }
  .main-title {
    font-size: 3.3em;
    margin-bottom: 0.5em;
  }
  .undertitle {
    margin: 0;
    font-size: 1.5em;
  }
  p {
    font-size: 1.1em;
    margin: 5% 0 10% 0;
  }
  .form-link {
    padding: 1.5em;
    font-weight: 600;
    font-size: 1em;
    text-shadow: none;
    margin-top: 5%;
  }
}
@media (max-width: 530px) {
  .wrapper {
    height: 100vh;
  }
  .container {
    margin-top: -35%;
  }
  .main-title {
    font-size: 3em;
    margin-bottom: 1em;
  }
  .main-title {
    font-size: 2.7em;
    margin-bottom: 0.5em;
  }
  .undertitle {
    font-size: 1em;
  }
}
@media (min-width: 530px) {
  .typing {
    width: 70%;
    text-align: left;
  }
}
