<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      type="image/ico"
      href="../static/images/Double-J-Design-Origami-Colored-Pencil-Blue-home.ico"
    />
    <link rel="stylesheet" href="../static/css/bundle.css" />
    <title>Split Utilities form</title>
  </head>
  <body class="body form__body">
    <div class="form__wrapper">
      <div class="form-container">
        <header class="form__header">Bill splitting form</header>
        <div class="progress-bar">
          <div class="step">
            <p>Name</p>
            <div class="bullet">
              <span>1</span>
            </div>
            <div class="check fas fa-check"></div>
          </div>
          <div class="step">
            <p>Bill</p>
            <div class="bullet">
              <span>2</span>
            </div>
            <div class="check fas fa-check"></div>
          </div>
          <div class="step">
            <p>Info</p>
            <div class="bullet">
              <span>3</span>
            </div>
            <div class="check fas fa-check"></div>
          </div>
          <div class="step">
            <p>Submit</p>
            <div class="bullet">
              <span>4</span>
            </div>
            <div class="check fas fa-check"></div>
          </div>
        </div>
        <div class="form-outer">
          <form action="/form" method="post">
            <div class="page slide-page">
              <div class="title">Basic Info:</div>
              <div class="field">
                <div class="label">{{form.user_firstname.label}}</div>
                {{form.user_firstname}}
              </div>
              <div class="field">
                <div class="label">{{form.user_last_name.label}}</div>
                {{form.user_last_name}}
              </div>
              <div class="field">
                <div class="label">{{form.user_email.label}}</div>
                {{form.user_email}}
              </div>
              <div class="field">
                <button class="firstNext next">Next Step</button>
              </div>
            </div>
            <div class="page">
              <div class="title">Billing Info:</div>
              <div class="field">
                <div class="label">{{form.date_posted.label}}</div>
                {{form.date_posted}}
              </div>
              <div class="field">
                <div class="label">{{form.bill_total.label}}</div>
                {{form.bill_total}}
              </div>
              <div class="field">
                <div class="label">{{form.user_days_spent.label}}</div>
                {{form.user_days_spent}}
              </div>
              <div class="field btns">
                <button class="prev-1 prev">
                  <i class="fas fa-caret-left"></i> Go Back
                </button>
                <button class="next-1 next">
                  Next Step <i class="fas fa-caret-right"></i>
                </button>
              </div>
            </div>
            <div class="page">
              <div class="title">Roommate Info:</div>
              <div class="field">
                <div class="label">{{form.roommate_fn.label}}</div>
                {{form.roommate_fn}}
              </div>
              <div class="field">
                <div class="label">{{form.roommate_ln.label}}</div>
                {{form.roommate_ln}}
              </div>
              <div class="field">
                <div class="label">{{form.roommate_email.label}}</div>
                {{form.roommate_email}}
              </div>
              <div class="field btns">
                <button class="prev-2 prev">
                  <i class="fas fa-caret-left"></i> Go Back
                </button>
                <button class="next-2 next">
                  Next Step <i class="fas fa-caret-right"></i>
                </button>
              </div>
            </div>
            <div class="page">
              <div class="title">Details:</div>
              <div class="field">
                <div class="label">{{form.roommate_days_spent.label}}</div>
                {{form.roommate_days_spent}}
              </div>

              <div class="field radio">
                <div class="label bold-label">Statment Email:</div>
                <div>{{form.email_options}}</div>
              </div>

              <div class="field btns details-btns">
                <button class="prev-3 prev">
                  <i class="fas fa-caret-left"></i> Go Back
                </button>
                {{form.submit_button}}
              </div>
            </div>
          </form>
        </div>
      </div>

      {% if calculated %}
      <div class="form-right">
        <p>All set. See you next month!</p>
        <img
          class="form-right-img"
          src="../static/images/pngegg.png"
          alt="keys"
        />

        <div class="form-output__wrapper">
          <div class="form-output">
            <h2 class="form-output__title">Utility Billing</h2>
            <h3 class="form-output__period">
              <strong>Bill Date:</strong> {{date}}
            </h3>
            <p>
              <strong>Payers:</strong> {{payer1_firstname}} {{payer1_lastname}}
              and {{payer2_firstname}} {{payer2_lastname}}
            </p>
            <p><strong>Total Amount Due: </strong> {{total}}</p>
            <p>
              {{payer1_firstname[0]}}.{{payer1_lastname}} due:
              <br />
              <strong>{{payer1_total}}</strong>
            </p>
            <p>
              {{payer2_firstname[0]}}.{{payer2_lastname}} due:
              <br />
              <strong>{{payer2_total}}</strong>
            </p>
            <p>{{email_options}}</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <script src="../static/js/main.min.js"></script>
  </body>
</html>
